.con
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.con1
{
    padding-left: 180px;
    border: 1px solid black;
}
.con a{
    padding-right: 800px;
    padding-top: 20px;
}
.con h4{
    padding-left: 100px;
}